.profileInfo {
    margin-bottom: 50px;
}

.head {
    margin-bottom: 10px;
}

.head img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    z-index: 10;
}

.headName {
    font-size: 15px;
    font-weight: 600;
}

.content > div:not(:last-child) {
    margin-bottom: 5px;
}

.inputFile {
    transition: all .4s;
}

.inputFile {
    transform: translateY(-30px);
    opacity: 0;
    pointer-events: none;
}

.active {
    transform: translateY(-10px);
    opacity: 1;
    pointer-events: auto;
}

.inputFile input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.labelInputFile {
    width: 40px;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 3px;
    cursor: pointer;
    padding: 2px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.45);
}