.postsTop {
	position: relative;
	max-width: 400px;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}

.postsTop h5 {
	padding-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	text-align-last: left;
}

.postsTop textarea {
	resize: none;
	display: inline-block;
	border: none;
	width: 100%;
	min-height: 50px;
	margin-bottom: 5px;
}

.postsTop button {
	position: absolute;
	bottom: -20px;
	right: 0;
	border: none;
	color: #fff;
	background-color: black;
	padding: 5px 40px;
	border-radius: 3px;
}
