.postsTop {
	position: relative;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.postsTop h5 {
	padding-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align-last: left;
}

.postsBox {
	min-height: 145px;
	position: relative;
	max-width: 400px;
	width: 100%;
}

.postsBox textarea {
	padding: 10px;
	outline: none;
	resize: none;
	display: inline-block;
	border: none;
	width: 100%;
	min-height: 50px;
	margin-bottom: 5px;
}

.postsBox button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	border: none;
	color: #fff;
	background-color: black;
	padding: 5px 40px;
	border-radius: 3px;
}