.inner {
    display: flex;
    justify-content: flex-start;
    max-width: 426px;
    width: 100%;
    margin-bottom: 20px;
}

.dialogsBox {
    flex-basis: 80px;
    margin-right: 20px;
}

.messagesBox {
    max-width: 325px;
    width: 100%;
}

.formBox {
    margin: 0 auto;
    min-height: 145px;
    position: relative;
    max-width: 400px;
    width: 100%;
}

.formBox textarea {
    resize: none;
    display: inline-block;
    border: none;
    width: 100%;
    min-height: 50px;
    margin-bottom: 5px;
}

.formBox button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    color: #fff;
    background-color: black;
    padding: 5px 40px;
    border-radius: 3px;
}


