.inner {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    width: 100%;
    margin-bottom: 40px;
}

.dialogsBox {
    margin: 0 auto;
    min-height: 145px;
    position: relative;
    max-width: 400px;
    width: 100%;
}

.dialogsBox textarea {
    resize: none;
    display: inline-block;
    border: none;
    width: 100%;
    min-height: 50px;
    margin-bottom: 5px;
}

.dialogsBox button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    color: #fff;
    background-color: black;
    padding: 5px 40px;
    border-radius: 3px;
}


